/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #e0e0e0;
}

body.login-page {
	background: #EAEBED;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}

a {
	color: #000000;
	text-decoration: none;	
}

a:hover {
	text-decoration: underline;
}

a.noLine {
	text-decoration: none;
}

.wrapper {
	width: 1280px;
	margin: 60px auto 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	
	
	height: 300px;
}

.wrapper .gray-line {
	height: 20px;
	background: #5b5957;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	background: #000000;
}

.header .header-baner {
	width: 1280px;
	height: 142px;
	margin: 0 auto;
	background: url(../img/header-baner.png) no-repeat 0 0 ;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 20px;
	background: #f2f2f2;
}

.content .content-gray-bg {
	padding: 20px;
	background: #e0e0e0;
	border-radius: 6px;
}

.content .content-white-bg {
	padding: 20px;
	background: #f2f2f2;
	border-radius: 6px;
}

.content .content-white-bg.with-button {
	padding-bottom: 50px;
	background: #f2f2f2 url(../img/button-bg.png) no-repeat bottom center;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: 0 auto;
	background: #000000;
	position: relative;
}
.footer .footer-baner{
	width: 1280px;
	height: 418px;
	margin: 0 auto;
	background: url(../img/footer-baner.png) no-repeat 0 0;
}

.grad-line {
	height: 26px;
	background: url(../img/grad-line.png) repeat-x;
}

.button {
	line-height: 52px;
	height: 52px;
	background: url(../img/button-2.png) repeat-x 0 -104px;
	cursor: pointer;
	width: 205px;
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
}

.button:before {
	background: url(../img/button-2.png) repeat-x 0 0;
	width: 26px;
	height: 52px;
	content: "";  
	display: block;
	float: left;
}

.button:after {
	background: url(../img/button-2.png) repeat-x 0 -52px;
	width: 26px;
	height: 52px;
	content: "";  
	display: block;
	float: right;
}

.center-button {
	margin: -26px auto 0;
}

.tab-item {
	float: left;
	height: 56px;
	line-height: 56px;
	position: relative;
	margin-left: -50px;
}

.tab-item:first-child {
	margin-left: 0;
}

.tab-item .tab-item-center {
	background: #f2f2f2;
	float: left;
}

.tab-item.active .tab-item-center {
	background: #595857;
}

.tab-item a {
	color: #5b5957;
	font-size: 20px;
	text-decoration: none;
	z-index: 100;
	position: relative;
}

.tab-item.active a {
	color: #f2f2f2;
}

.tab-item:before {
	background: url(../img/tabs.png) repeat-x 0 0;
	width: 30px;
	height: 56px;
	content: "";  
	display: block;
	float: left;
}

.tab-item.active:before {
	background: url(../img/tabs-active.png) repeat-x 0 0;
}

.tab-item:after {
	background: url(../img/tabs.png) repeat-x -30px 0;
	width: 76px;
	height: 56px;
	content: "";  
	display: block;
	float: left;
}

.tab-item.active:after {
	background: url(../img/tabs-active.png) repeat-x -30px 0;
}

.content-shadow {
	background: url(../img/shadow.png) no-repeat top right;
	height: 57px;
}

.content-table {
	width: 100%;
}

.content-table thead td{
	font-weight: bolder;
}

.content-table td{
	border-left: solid 1px #dadada;
	padding: 5px;
}

.content-table td:first-child{
	border-left: none;
}

.content-table tbody td{
	
	border-top: solid 1px #dadada;
}

.login-form {
	background: url(../img/login-form.png) no-repeat 0 0 ;
	margin: 0 auto;
	width: 587px;
	height: 430px;
	position: relative;
}

.login-form .login-input{
	width: 249px;
	height: 48px;
	background: url(../img/login-input.png) no-repeat 0 0;
	border: none;
	position: absolute;
	padding: 0 20px;
	line-height: 48px;
	font-size: 20px;
}

.login-form .login-input.login{
	top:153px;
	left: 258px;
}

.login-form .login-input.password{
	top:213px;
	left: 258px;
}

.login-form-submit {
	position: absolute;
	background: none;
	border: none;
	width: 235px;
	height: 59px;
	cursor: pointer;
	bottom: 42px;
	left: 175px;
}

.input-block-horizontal {
	margin: 5px 0;	
}

.input {
	height: 26px;
	line-height: 26px;
	font-size: 14px;	
}

.error-message {
	color: #B94A48;	
}

.select {
	height: 32px;
	font-size: 14px;
	padding: 3px 0;	
}

.input.input-medium {
	width: 350px;	
}

.input.input-small {
	width: 100px;	
}

.input-block-horizontal .input {
	margin-left: 20px;
}

.input-block-horizontal label{
	line-height: 32px;
	font-size: 14px;
	width: 200px;
	display: block;
	float: left;
}

.input-block-horizontal .error-message {
	display: inline-block;
}

.clear {
	clear: both;
}

.z1 {
	z-index: 1;
}

.z2 {
	z-index: 2;
}

.z3 {
	z-index: 3;
}
.z4 {
	z-index: 4;
}
.z5 {
	z-index: 5;
}
.z6 {
	z-index: 6;
}
.z7 {
	z-index: 7;
}
.z8 {
	z-index: 8;
}

.table-width-1 {
	width: 1%;	
}

.width1280 {
	width: 1280px;
	margin: 0 auto;	
}

.grad-line .exit {
	line-height: 26px;
	float: right;
	color: #ffffff;
}